* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}
#quote {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(173, 216, 230, 0.267);
  padding: 10px;
  border-radius: 20px;
  margin-top: 250px;
  font-size: 1.2rem;
  cursor: pointer;
}
#author {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(95, 95, 94, 0.452);
  padding: 10px;
  border-radius: 20px;
  font-size: 1.8rem;
  font-family: "Roboto Light", sans-serif;
}
.stylebox {
  border: 2px solid black;
  background-color: rgba(128, 128, 128, 0.253);
}
